Package: com.wwg135.customnons
Name: CustomNoOlderNotifications
Version: 1.0.0
Architecture: iphoneos-arm
Description: 自定义 "没有更早的通知" 文本
Maintainer: kome1
Author: M哥
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, com.spark.libsparkcolourpicker
